{% liquid
  assign product_resource = closest.product
  assign model_info_reference = product_resource.metafields.models.model_info
  assign model_size = product_resource.metafields.model.wearing_size
  assign model_info = blank

  if model_info_reference != blank
    assign model_info = model_info_reference.value
  endif

  assign model_name = blank
  assign model_height = blank
  assign model_bust = blank
  assign model_waist = blank
  assign model_hips = blank

  if model_info != blank
    assign model_name = model_info.name.value | default: model_info.name
    assign model_height = model_info.height.value | default: model_info.height
    assign model_bust = model_info.bust.value | default: model_info.bust
    assign model_waist = model_info.waist.value | default: model_info.waist
    assign model_hips = model_info.hips.value | default: model_info.hips
  endif
%}

{% if model_info != blank %}
  <div class="model-info" {{ block.shopify_attributes }}>
    {% if model_name != blank %}
      <p class="model-info__name">
        {{ model_name | escape }} is {{ model_height | escape }} ft and wearing size {{ model_size | escape }}
      </p>
    {% endif %}

    <p class="model-info__row">{{ model_name | escape }}'s measurements:</p>
    <u>
      {% if model_bust != blank %}
        <li class="model-info__row">Bust: {{ model_bust | escape }}</li>
      {% endif %}
      {% if model_waist != blank %}
        <li class="model-info__row">Waist: {{ model_waist | escape }}</li>
      {% endif %}
      {% if model_hips != blank %}
        <li class="model-info__row">Hips: {{ model_hips | escape }}</li>
      {% endif %}
    </u>
  </div>
{% endif %}

{% schema %}
{
  "name": "Model Info",
  "tag": null,
  "settings": [],
  "presets": [
    {
      "name": "Model Info",
      "category": "Product"
    }
  ]
}
{% endschema %}
