<div class="section-background color-{{ section.settings.color_scheme }}"></div>
<div
  class="
    section
    section--{{ section.settings.section_width }}
    color-{{ section.settings.color_scheme }}
  "
  data-testid="call-to-action-section"
>
  <div class="call-to-action">
    <h2 class="call-to-action__title">{{ section.settings.call_to_action_title }}</h2>
    {% if section.settings.preorder_additional_info != blank %}
      <p class="call-to-action__additional-info">{{ section.settings.preorder_additional_info }}</p>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Call to Action",
  "settings": [
    {
      "type": "text",
      "id": "call_to_action_title",
      "label": "Title",
      "default": "The summer collection is out now!"
    },
    {
      "type": "textarea",
      "id": "preorder_additional_info",
      "label": "Additional information",
      "default": "Additional information about the collection, such as a description or a promotion. This text is optional and can be left blank."
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "page-width"
    }
  ]
}
{% endschema %}
